In [ ]:
!pip install pandas geopandas

In [ ]:
!pip install openpyxl

In [1]:
import pandas as pd
import geopandas as gpd
import os

In [2]:
# Load London table
excel_file_path = '/home/yuna/github/CyclingVSPollution/yuna/project_data/London_NO2_2023.xlsx'
df = pd.read_excel(excel_file_path, sheet_name='Summary')
df

,Borough,Number of sites,Exceeding legal limit,Percent exceeding legal limit,Exceeding WHO,Percent exceeding WHO,Average concentration roadside*,Average concentration background**,Unnamed: 8,Unnamed: 9
0,Corporation City of London,86,5.0,5.8,86.0,100.0,32.2,25.1,NaN,* includes Kerbside
1,LB Barking and Dagenham,50,0.0,0.0,50.0,100.0,26.6,17.9,NaN,**includes Urban Centre
2,LB Barnet,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LB Bexley,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LB Brent,127,2.0,1.6,127.0,100.0,22.5,19.0,NaN,NaN
5,LB Bromley,32,0.0,0.0,32.0,100.0,21.8,NaN,NaN,NaN
6,LB Camden,262,17.0,6.5,262.0,100.0,27.8,17.9,NaN,NaN
7,LB Croydon,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,LB Ealing,60,3.0,5.0,60.0,100.0,26.7,20.7,NaN,NaN
9,LB Enfield,22,2.0,9.1,21.0,95.5,24.1,15.6,NaN,NaN
10,LB Hackney,142,2.0,1.4,142.0,100.0,24.4,18.1,NaN,NaN
11,LB Hammersmith & Fulham,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,LB Haringey,37,3.0,8.1,37.0,100.0,26.9,26.1,NaN,NaN
13,LB Harrow,4,0.0,0.0,4.0,100.0,24.6,13.1,NaN,NaN
14,LB Havering,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,LB Hillingdon,48,0.0,0.0,48.0,100.0,26.7,23.9,NaN,NaN
16,LB Hounslow,72,0.0,0.0,72.0,100.0,22.6,17.5,NaN,NaN
17,LB Islington,22,0.0,0.0,22.0,100.0,28.9,19.1,NaN,NaN
18,LB Lambeth,125,13.0,10.4,125.0,100.0,27.2,NaN,NaN,NaN
19,LB Lewisham,144,1.0,0.7,144.0,100.0,21.3,17.0,NaN,NaN
20,LB Merton,64,3.0,4.7,64.0,100.0,29.1,12.3,NaN,NaN
21,LB Newham,115,1.0,0.9,115.0,100.0,27.9,20.5,NaN,NaN
22,LB Redbridge,23,0.0,0.0,23.0,100.0,28.6,17.7,NaN,NaN
23,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN
24,LB Southwark,85,1.0,1.2,85.0,100.0,24.3,21.8,NaN,NaN
25,LB Sutton,26,0.0,0.0,26.0,100.0,24.4,15.0,NaN,NaN
26,LB Tower Hamlets,32,0.0,0.0,32.0,100.0,25.6,NaN,NaN,NaN
27,LB Waltham,55,0.0,0.0,55.0,100.0,24.1,NaN,NaN,NaN
28,LB Wandsworth,57,3.0,5.3,57.0,100.0,25.1,16.8,NaN,NaN
29,LB Westminster,27,1.0,3.7,27.0,100.0,29.8,22.6,NaN,NaN
30,RB Greenwich,42,1.0,2.4,42.0,100.0,26.7,14.0,NaN,NaN
31,RB Kensington & Chelsea,36,2.0,5.6,36.0,100.0,26.9,20.5,NaN,NaN
32,RB Kingston Upon Thames,40,0.0,0.0,40.0,100.0,20.7,NaN,NaN,NaN

In [16]:
# Specify the directory path
directory_path = '/home/yuna/github/CyclingVSPollution/yuna/project_data/London_geometry/'

# Get a list of all files in the directory
files = os.listdir(directory_path)

# Filter only .shp files (excluding directories)
shp_files = [f for f in files if f.endswith('.shp') and os.path.isfile(os.path.join(directory_path, f))]
shp_files

['Bexley.shp',
 'Barnet.shp',
 'Hammersmith and Fulham.shp',
 'Kingston upon Thames.shp',
 'Croydon.shp',
 'Havering.shp',
 'Harrow.shp',
 'Camden.shp',
 'Hillingdon.shp',
 'Westminster.shp',
 'Bromley.shp',
 'Southwark.shp',
 'Redbridge.shp',
 'Newham.shp',
 'Brent.shp',
 'Wandsworth.shp',
 'Kensington and Chelsea.shp',
 'Hackney.shp',
 'Hounslow.shp',
 'City of London.shp',
 'Sutton.shp',
 'Haringey.shp',
 'Tower Hamlets.shp',
 'Lewisham.shp',
 'Barking and Dagenham.shp',
 'Islington.shp',
 'Enfield.shp',
 'Merton.shp',
 'Greenwich.shp',
 'Ealing.shp',
 'Lambeth.shp',
 'Waltham Forest.shp',
 'Richmond upon Thames.shp']

In [4]:
# Load the shapefile 
def load_shp_file(shp_file_path):
    gdf = gpd.read_file(shp_file_path)
    return gdf

In [5]:
# get the name of the borough from shp
def get_borough_name(shp_file_path):
    borough_name = shp_file_path.split('/')[-1].replace('.shp',"")
    return borough_name

In [6]:
# Add the extracted borough name as a new column
def add_column_borough(borough_name):
    gdf['Borough_Name'] = borough_name
    return gdf

In [7]:
# Find rows containing the borough name and update the name
def add_update_borough(df):
    df.loc[df.apply(lambda row: row.astype(str).str.contains(borough_name, case=False, na=False).any(), axis=1), 'Borough_Name'] = borough_name
    return df

In [8]:
# Merge the Excel data with spatial data based on borough name
def merge_geo_to_df(df):
    merged_df = df.merge(gdf[['Borough_Name', 'geometry']], on='Borough_Name', how='left')
    print(Borough_Name)
    return merged_df

In [19]:
merged_df = pd.DataFrame()
count = 0
for shp_file in shp_files:
    shp_file_path =  directory_path + shp_file
    gdf = load_shp_file(shp_file_path)
    borough_name = get_borough_name(shp_file_path)
    gdf = add_column_borough(borough_name)
    df = add_update_borough(df)
    print("colum added to df:", borough_name)
    #merged_df = merge_geo_to_df(df)

colum added to df: Bexley
colum added to df: Barnet
colum added to df: Hammersmith and Fulham
colum added to df: Kingston upon Thames
colum added to df: Croydon
colum added to df: Havering
colum added to df: Harrow
colum added to df: Camden
colum added to df: Hillingdon
colum added to df: Westminster
colum added to df: Bromley
colum added to df: Southwark
colum added to df: Redbridge
colum added to df: Newham
colum added to df: Brent
colum added to df: Wandsworth
colum added to df: Kensington and Chelsea
colum added to df: Hackney
colum added to df: Hounslow
colum added to df: City of London
colum added to df: Sutton
colum added to df: Haringey
colum added to df: Tower Hamlets
colum added to df: Lewisham
colum added to df: Barking and Dagenham
colum added to df: Islington
colum added to df: Enfield
colum added to df: Merton
colum added to df: Greenwich
colum added to df: Ealing
colum added to df: Lambeth
colum added to df: Waltham Forest
colum added to df: Richmond upon Thames

In [10]:
merged_df

,Borough,Number of sites,Exceeding legal limit,Percent exceeding legal limit,Exceeding WHO,Percent exceeding WHO,Average concentration roadside*,Average concentration background**,Unnamed: 8,Unnamed: 9,Borough_Name,geometry
0,Corporation City of London,86,5.0,5.8,86.0,100.0,32.2,25.1,NaN,* includes Kerbside,City of London,None
1,LB Barking and Dagenham,50,0.0,0.0,50.0,100.0,26.6,17.9,NaN,**includes Urban Centre,Barking and Dagenham,None
2,LB Barnet,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Barnet,None
3,LB Bexley,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bexley,None
4,LB Brent,127,2.0,1.6,127.0,100.0,22.5,19.0,NaN,NaN,Brent,None
5,LB Bromley,32,0.0,0.0,32.0,100.0,21.8,NaN,NaN,NaN,Bromley,None
6,LB Camden,262,17.0,6.5,262.0,100.0,27.8,17.9,NaN,NaN,Camden,None
7,LB Croydon,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Croydon,None
8,LB Ealing,60,3.0,5.0,60.0,100.0,26.7,20.7,NaN,NaN,Ealing,None
9,LB Enfield,22,2.0,9.1,21.0,95.5,24.1,15.6,NaN,NaN,Enfield,None
10,LB Hackney,142,2.0,1.4,142.0,100.0,24.4,18.1,NaN,NaN,Hackney,None
11,LB Hammersmith & Fulham,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12,LB Haringey,37,3.0,8.1,37.0,100.0,26.9,26.1,NaN,NaN,Haringey,None
13,LB Harrow,4,0.0,0.0,4.0,100.0,24.6,13.1,NaN,NaN,Harrow,None
14,LB Havering,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Havering,None
15,LB Hillingdon,48,0.0,0.0,48.0,100.0,26.7,23.9,NaN,NaN,Hillingdon,None
16,LB Hounslow,72,0.0,0.0,72.0,100.0,22.6,17.5,NaN,NaN,Hounslow,None
17,LB Islington,22,0.0,0.0,22.0,100.0,28.9,19.1,NaN,NaN,Islington,None
18,LB Lambeth,125,13.0,10.4,125.0,100.0,27.2,NaN,NaN,NaN,Lambeth,None
19,LB Lewisham,144,1.0,0.7,144.0,100.0,21.3,17.0,NaN,NaN,Lewisham,None
20,LB Merton,64,3.0,4.7,64.0,100.0,29.1,12.3,NaN,NaN,Merton,None
21,LB Newham,115,1.0,0.9,115.0,100.0,27.9,20.5,NaN,NaN,Newham,None
22,LB Redbridge,23,0.0,0.0,23.0,100.0,28.6,17.7,NaN,NaN,Redbridge,None
23,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((523466.125 176513.703, 523475.431 17..."
24,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((522115.313 176481.734, 522119.608 17..."
25,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((520892.8 175729.865, 520893.906 1757..."
26,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((518121.312 175288.067, 518114.306 17..."
27,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((514529.781 174452.578, 514530.614 17..."
28,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((515495.906 174316.546, 515496.628 17..."
29,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((516743.4 175384.414, 516748.948 1753..."
30,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((517854.841 174361.687, 517856.153 17..."
31,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((515104.643 173041.85, 515108.875 173..."
32,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((515374.414 173215.575, 515379.917 17..."
33,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((513432.973 171771.758, 513450.25 171..."
34,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((513152.088 174376.193, 513155.406 17..."
35,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((516416.935 173767.275, 516426.24 173..."
36,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((517513.688 173354.697, 517566.127 17..."
37,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((515026.124 171910.428, 515026.425 17..."
38,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((513769.862 171688.412, 513779.952 17..."
39,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((519812.773 177147.116, 519821.782 17..."
40,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((519743.866 175040.05, 519743.469 175..."
41,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((517277.075 171264.446, 517343.399 17..."
42,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((518949.813 177842.531, 518954.903 17..."
43,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((515941.513 171588.04, 515944.683 171..."
44,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((520491.645 175273.272, 520493.81 175..."
45,LB Richmond upon Thames,65,2.0,3.1,65.0,100.0,26.0,12.2,NaN,NaN,Richmond upon Thames,"POLYGON ((514199.683 170469.588, 514200.156 17..."
46,LB Southwark,85,1.0,1.2,85.0,100.0,24.3,21.8,NaN,NaN,Southwark,None
47,LB Sutton,26,0.0,0.0,26.0,100.0,24.4,15.0,NaN,NaN,Sutton,None
48,LB Tower Hamlets,32,0.0,0.0,32.0,100.0,25.6,NaN,NaN,NaN,Tower Hamlets,None
49,LB Waltham,55,0.0,0.0,55.0,100.0,24.1,NaN,NaN,NaN,NaN,None
50,LB Wandsworth,57,3.0,5.3,57.0,100.0,25.1,16.8,NaN,NaN,Wandsworth,None
51,LB Westminster,27,1.0,3.7,27.0,100.0,29.8,22.6,NaN,NaN,Westminster,None
52,RB Greenwich,42,1.0,2.4,42.0,100.0,26.7,14.0,NaN,NaN,Greenwich,None
53,RB Kensington & Chelsea,36,2.0,5.6,36.0,100.0,26.9,20.5,NaN,NaN,NaN,None
54,RB Kingston Upon Thames,40,0.0,0.0,40.0,100.0,20.7,NaN,NaN,NaN,Kingston upon Thames,None

In [ ]:
shp_file_path =  "/home/yuna/github/CyclingVSPollution/yuna/project_data/London_geometry/Bexley.shp"
gdf = load_shp_file(shp_file_path)
borough_name = get_borough_name(shp_file_path)
print("geometry to be added:", borough_name)
gdf = add_column_borough(borough_name)
df = add_update_borough(df)
merged_df = merge_geo_to_df(df)
merged_df

In [ ]:
# Save the updated DataFrame back to Excel
output_file_path = 'London_NO2_2023_updated.xlsx'
df.to_excel(output_file_path, index=False)

print(f"Borough name updated and file saved to {output_file_path}")